h1 {
  color: #13594c;
  font-size: 150%;
  text-decoration: underline;
}

h2{
  font-style: bold;
  font-size: 130%;
  color: #236b5e
}

p{
  font-family: "Times New Roman";
  text-indent: 10px;
  margin-left: 10px;
  color: black;
}

body {
  background-color: #a0d6b4;
  width: 700px;
  min-height: 300px;
  padding: 20px;
  margin: 5px;
  border: solid 10px #49796b;
  font-size: 20px;
}
